<div class="row g-3">
  <div class="col-8">
    <div class="panel">
      <div class="title">
        Panel Title
        <div class="subtitle">This is the subtitle</div>
      </div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique voluptate beatae, ullam dolor soluta totam
      culpa
      iusto odit ducimus voluptas quae asperiores inventore explicabo porro perferendis et aperiam quisquam ipsa?
      Lorem
      ipsum
      dolor sit amet, consectetur adipisicing elit. Blanditiis, placeat quia rem fuga vero quidem, distinctio a,
      aspernatur ab
      quam doloribus tempora voluptate. Laudantium neque fugit pariatur quo temporibus odio. Lorem, ipsum dolor sit
      amet
      consectetur adipisicing elit. Aliquam, minima, amet optio reiciendis nulla molestiae quam voluptatem facere
      aperiam
      minus, autem vero dolores laboriosam accusantium hic eum nihil culpa omnis!

      <img src="https://i.pinimg.com/736x/c7/36/df/c736df14ac4ae6b542880bb2ee75ed97.jpg" alt="Fantasy Landscape">

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate incidunt error doloremque eaque molestiae
      pariatur similique, quis beatae culpa sit assumenda, optio aliquid, at quasi porro quod temporibus enim sunt!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptate atque, consequuntur exercitationem
      labore
      necessitatibus consectetur, quam odit recusandae at porro iusto, deleniti minus qui nisi. Eaque nesciunt beatae
      recusandae.

      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae corrupti velit sed temporibus explicabo
      aliquid modi dolore! Ab distinctio veritatis, ipsum, dignissimos quas debitis, sit perspiciatis hic ratione
      expedita voluptatem?
    </div>
  </div>

  <div class="col-4">
    <div class="panel">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quisquam neque repellendus tenetur fugiat saepe
      exercitationem, perspiciatis enim atque magni adipisci temporibus vitae tempora nemo impedit quaerat dignissimos
      obcaecati sequi.
    </div>
  </div>

  <div class="col-4">
    <div class="panel">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt explicabo sed quae voluptatum sequi magnam
      pariatur
      incidunt consequatur laborum neque ducimus natus harum distinctio iste, quidem suscipit quod sint nesciunt?
      Lorem
      ipsum
      dolor sit, amet consectetur adipisicing elit. Corrupti at adipisci aliquid? A ea porro ipsum neque consectetur,
      recusandae, repellat, aperiam consequatur soluta doloremque amet necessitatibus quibusdam incidunt similique
      quo?
      Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. At tempora magni repudiandae eveniet provident inventore,
      quasi nisi
      aut dolorem reprehenderit illo adipisci nobis officiis repellendus! Aperiam sequi architecto eveniet officia?
    </div>
  </div>
</div>