<div class="row g-2">
  <div class="col-12">
    <div class="panel">
      <div class="title">Changelog
        <div class="subtitle">From Contributor</div>
      </div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, necessitatibus quod? Libero repellendus sunt
      consequuntur saepe, eligendi quidem neque facere, molestiae, iure officia impedit recusandae totam praesentium
      deserunt distinctio dolore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, nam incidunt beatae
      officiis quisquam eaque sapiente nemo repudiandae natus magni aperiam aliquam recusandae labore cum modi
      asperiores laudantium inventore aut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat earum sint
      temporibus mollitia. Ea, architecto cupiditate fugiat nihil nam, ipsum dolor adipisci dolores enim at inventore
      totam laboriosam! Nemo, accusantium? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
      quaerat dolore iure fuga rem eligendi quod consectetur odit eos. Fugit atque nam dolor, eaque non quo explicabo
      suscipit doloribus reprehenderit?
    </div>
  </div>
</div>